:root {
  --primary-color: #fb1b1b;
  --second-color: #000000;
  --third-color: #dfdfdf;
  --fourth-color: #ffffff;
  --small-size: 1.5rem;
  --medium-size: 2.5rem;
  --big-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 0.5rem;
  gap: 3rem;
  background-color: var(--primary-color);
  z-index: 3;
}

h1 {
  text-align: center;
}

button {
  background-color: var(--primary-color);
  color: var(--fourth-color);
  border: none;
  margin: 1rem;
  padding: 1rem;
}

input {
  background-color: var(--third-color);
  color: var(--second-color);
  border: none;
  padding: 1rem 5rem 1rem 1rem;
}

h2 {
  color: var(--primary-color);
}

.logo {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.login-form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 70%;
}

.login-message {
  text-align: center;
  font-size: var(--small-size);
  margin-bottom: 1rem;
}

.welcome-message {
  text-align: center;
}

.pokemon-image {
  width: 40%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  max-height: 140px;
}

.pokemon-image:hover {
  transform: scale(1.1);
}

.pokemon-card {
  position: relative;
  display: inline-block;
  left: 1%;
  width: 16rem;
  height: 19rem;
  border-radius: 20px;
  margin: 0.75rem;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.pokemon-card:hover {
  transform: scale(0.98);
}

.pokeball {
  width: 50%;
  opacity: 50%;
  position: absolute;
  right: -10px;
  bottom: -20px;
  z-index: 1;
}

.pokemon-name {
  font-size: var(--big-size);
  color: var(--fourth-color);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px 20px 0 0;
}

.pokemon-stat {
  font-size: var(--small-size);
  padding: 0.6rem 1rem;
  color: var(--third-color);
}

.button-content {
  display: flex;
  justify-content: center;
}

.pokemon-stat--type {
  margin: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: var(--small-size);
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 0;
}
/* Estilado de PokeData (detalle de pokemon) */
.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logopokemon {
  position: absolute;
  width: 30%;
  top: 10%;
}

.image-detail {
  z-index: 1;
  height: 10em;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-container {
  background-color: var(--fourth-color);
  width: 80%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  text-align: center;
  position: relative;
  top: 60%;
  text-transform: uppercase;
}

.pokebal-detail {
  position: absolute;
  opacity: 15%;
  z-index: 0;
  top: -90%;
  right: -200px;
  width: 50%;
}

.weight {
  position: absolute;
  left: 11%;
  top: 40%;
  color: grey;
  font-size: var(--small-size);
}

.height {
  position: absolute;
  left: 81%;
  top: 40%;
  color: grey;
  font-size: var(--small-size);
}

.height-cont {
  position: absolute;
  left: 83%;
  top: 30%;
}

.weight-cont {
  position: absolute;
  left: 12%;
  top: 30%;
}

.type {
  position: absolute;
  top: 75%;
  left: 15%;
  background-color: var(--fourth-color);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--small-size);
  opacity: 90%;
}

.abilities {
  position: absolute;
  font-size: var(--small-size);
  top: 75%;
  left: 65%;
  background-color: var(--fourth-color);
  border-radius: 10px;
  width: 13rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 90%;
}

@media screen and (max-width: 390px) {
  body {
    font-size: 14px;
  }
}
